<section>
  <h2>New post</h2>

  <form class="new-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="contents">Content</label>
      <input class="form-control" id="contents" name="contents" />
    </div>
    <button class="btn btn-primary" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <br>
  <h2>Your Posts</h2>
  <ol class="list-group gap-3 post-list">
    {{#each posts as |post|}}
    <li class="list-group-item">
      {{> posts post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/post.js"></script>