<form class="login-form">
  <div>
    <label for="loginUsername">Username:</label>
    <input type="text" id="loginUsername" />
  </div>
  <div>
    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<a href="/signup">Sign-up instead</a>

<script src="/js/login.js"></script>