<form class="login-form">
  <div>
    <label class="form-label" for="loginUsername">Username:</label>
    <input class="form-control" type="text" id="loginUsername" />
  </div>
  <div>
    <label class="form-label" for="loginPassword">Password:</label>
    <input class="form-control" type="password" id="loginPassword" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<a href="/signup">Sign-up instead</a>

<script src="/js/login.js"></script>