{{> posts post}}

{{#if loggedIn}}
<br>
<div class="">
  <h3>Add a comment:</h3>
  <form class="comment-form">
    <div>

      <textarea class="form-control" name="comment-body"></textarea>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Add a comment...</button>
    </div>
  </form>
</div>
<br>
{{/if}}

<div>
  <h3>Comments:</h3>
  {{> comments post.comments}}

  {{#if loggedIn}}
  <script src="/js/comment.js"></script>
  {{/if}}
</div>