<form class="sign-up-form">
  <div>
    <label class="form-label" for="sign-upUsername">Username:</label>
    <input class="form-control" type="text" id="sign-upUsername" />
  </div>
  <div>
    <label class="form-label" for="sign-upPassword">Password:</label>
    <input class="form-control" type="password" id="sign-upPassword" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Sign-up</button>
  </div>
</form>

<a href="/login">Login Instead</a>

<script src="/js/signup.js"></script>