<form class="sign-up-form">
  <div>
    <label for="sign-upUsername">Username:</label>
    <input type="text" id="sign-upUsername" />
  </div>
  <div>
    <label for="sign-upPassword">Password:</label>
    <input type="password" id="sign-upPassword" />
  </div>
  <div>
    <button type="submit">Sign-up</button>
  </div>
</form>

<a href="/login">Login Instead</a>

<script src="/js/signup.js"></script>